.employees-list-item {
    text-decoration: none;
    color: #34495E;
}

.employees-list-item:hover {
    color: #34495E;
    text-decoration: underline;
}

.employee-list-search {
    font-size: 1em;
}

.employee-list-search:hover {
    font-weight: bold;
    background-color: rgb(52, 73, 94, 0.2);
    cursor: pointer;
}

